html{
  font-size: larger;
  background-color: grey;
}
body {
  overflow: hidden;
}
/* White Text Color */
.text-color{  
    color: black;
}
.text-color-cus{  
    color: rgb(83, 83, 83);
}
/*  To create spaces within div to simulate scrolling  */
.div-height{
    height: 35rem; 
}

p, li{
  text-align: justify;
}
ul li{
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

section {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

section::-webkit-scrollbar {
  display: none;

}


.polite-card .card-title, .polite-card .card-text{
  font-size: medium;
  margin: 0.5rem 0; 
}


.container--sidebar {
  position: sticky;
  inset: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar--item {
  min-width: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  font-size:12px;
}

.sidebar--item:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}


.box{
  border-width:1px;
  border-style: solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 15rem;
}

.title-text-size{
  font-size:16px;
}

.course-text-size{
  font-size: 12px;
}

.card, .card-body {
  width: 100%; 
}

/* Remove underline display from anchor tag */
.btn-dark:hover{
  background-color: rgb(112, 112, 112);
}

a:link {
  text-decoration: none;
}


.polite-card{
  margin-top: 20px;
  max-width: min(90vw, 400px); /* Keeps it responsive but with a max-width */
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  overflow: hidden;
  height: 450px; 
  border: 1px solid rgba(0,0,0,.125); 
  background-color: #fff; 
}

.polite-card img {
  height: 350px; 
  object-fit: cover;
  width: 100%; 
  display: block; 
}
.polite-card .card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 1rem;
}