html{
  font-size: larger;
}
body {
  overflow: hidden;
}
/* White Text Color */
.text-color{  
    color: black;
}
.text-color-cus{  
    color: rgb(83, 83, 83);
}
/*  To create spaces within div to simulate scrolling  */
.div-height{
    height: 35rem; 
}

p, li{
  text-align: justify;
}
ul li{
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

section {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

section::-webkit-scrollbar {
  display: none;

}

.container--sidebar {
  position: sticky;
  inset: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar--item {
  min-width: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  font-size:12px;
}

.sidebar--item:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.box{
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
a:link {
  text-decoration: none;
}


.polite-card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  border-radius: .25rem;
}

.polite-card img {
  width: 100%; 
  height: 300px; 
  object-fit: cover;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.polite-card .card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  padding: 1rem;
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

.row.g-4 {
    align-items: stretch; 
}

.card-title{
  font-size: 16px;
}
.card-text{
  font-size: 14px;
}