body {
  overflow: hidden;
}
/* White Text Color */
.text-color{  
    color: black;
}
.text-color-cus{  
    color: rgb(83, 83, 83);
}
/*  To create spaces within div to simulate scrolling  */
.div-height{
    height: 35rem; 
}

/* Remove underline display from anchor tag */
a:link {
  text-decoration: none;
}
p, li{
  text-align: justify;
}
main {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

section {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

section::-webkit-scrollbar {
  display: none;

}

.container--sidebar {
  position: sticky;
  inset: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar--item {
  min-width: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.sidebar--item:hover {
  background-color: rgba(255, 255, 255, 0.33);
  cursor: pointer;
}
